<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Wajib: Mendefinisikan versi runtime .NET Framework -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<!-- Bagian untuk menyimpan setting aplikasi (Runtime Config) -->
	<appSettings>
		<!-- Yosep: Skala Font UI -->
		<add key="UIFontScale" value="1.0" />

		<!-- Ivan: Warna Tema -->
		<add key="PrimaryColor" value="#667eea" />
		<add key="BackgroundColor" value="#f7f9fc" />
	</appSettings>
</configuration>